.resume {
    z-index: 4;
    display: flex;
}

.resume ul {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
}

.resume ul::before{
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, transparent, #3e5065, transparent);
    box-shadow: 0 4px 10px rgb(38 52 70 / 70%);
    left: 50%;
    top: 0;
    height: 95%;
    width: 5px;
    transform: translateX(-50%);
}

.resume li {
    width: 100%;
    margin: 20px 0;
}

.resume li .cover {
    background-color: var(--light-bg-color);
}

.resume li:nth-child(even) .cover {
    margin-left: auto;
    position: relative;
}

.resume li::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    background-color: var(--dark-bg-color);
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    animation: pulseInfinite 1000ms infinite cubic-bezier(.66, 0, 0, 1);
    box-shadow: 0 0 0 0 var(--text-primary-anim);
}

.resume .cover {
    width: 47%;
    border: 3px solid var(--resume-border);
    text-align: center;
    position: relative;
}

.resume .timeline-icon {
    position: absolute;
    color: var(--timeline-icon);
    opacity: 0.12;
    top: 45px;
    left: 11px;
    font-size: 78px;
    transform: rotateZ(-30deg);
}

.resume h4 {
    font-size: var(--16px-em);
    font-weight: 600;
    padding: 15px 0;
    letter-spacing: .5px;
}

.resume h4 a {
    color: var(--text-primary);
    text-decoration: none;
}

.resume p {
    color: var(--text-tertiary);
    letter-spacing: .7px;
    font-size: var(--13px-em);
    margin: 0 20px 15px;
    padding-bottom: 15px;
    color: var(--text-tertiary);
}

.resume .cover p:first-of-type {
    border-bottom: 1px solid var(--resume-border);
}

.resume .cover p:last-of-type {
    font-size: var(--14px-em);
    text-align: left;
    font-weight: 400;
    line-height: 1.8;
}

@media (max-width: 1000px) {
    .resume h4 {
        padding: 15px 10px;
    }
}


@media (max-width: 768px) { 
    .resume li::before {
        margin-top: -11px;
    }

    .resume li .cover {
        width: 100%;
        margin-top: 25px;
    }
}