@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@-webkit-keyframes OpenMenu {
  0% {
    right: -65vw;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: 0;
  }
}
@keyframes OpenMenu {
  0% {
    right: -65vw;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes CloseMenu {
  0% {
    right: 0;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: -65vw;
  }
}
@keyframes CloseMenu {
  0% {
    right: 0;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: -65vw;
  }
}
@-webkit-keyframes OpenMenuBg {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes OpenMenuBg {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes CloseMenuBg {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100vw;
    opacity: 0;
  }
}
@keyframes CloseMenuBg {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100vw;
    opacity: 0;
  }
}
@-webkit-keyframes Girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes Girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes GirarNormal {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes GirarNormal {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
}

.container {
  padding: 20px;
}

.none {
  display: none;
}

/*
.dropdown_menu-1
  for num in (1..5);
     .dropdown_item-{num}
       transform-origin: top center;
       animation: slideDown 300ms (num * 60ms) ease-in-out forwards;
*/
section.page {
  max-width: 100vw;
}
section.page header.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 15px;
}
section.page header.header nav.menu-bar {
  display: none;
}
section.page header.header nav.mobile-bar div.bg {
  position: absolute;
  background-color: white;
  width: 65vw;
  height: 100vh;
  right: -65vw;
  top: 0;
}
section.page header.header nav.mobile-bar div.bg.open {
  -webkit-animation: OpenMenu 300ms linear 0ms 1 normal forwards;
          animation: OpenMenu 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg.removed {
  -webkit-animation: CloseMenu 300ms linear 0ms 1 normal forwards;
          animation: CloseMenu 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container div {
  text-align: right;
  margin-bottom: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu {
  list-style: none;
  margin-bottom: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li {
  cursor: pointer;
  color: var(--medium-gray);
  padding: 10px 0;
  -webkit-tap-highlight-color: transparent;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li svg {
  margin-left: 10px;
  transition: rotate 200ms ease;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li a {
  display: block;
  color: var(--medium-gray);
  text-decoration: none;
  padding: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li a:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span {
  display: block;
  color: var(--medium-gray);
  text-decoration: none;
  padding: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span:active > svg path {
  stroke: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span.open svg {
  -webkit-animation: Girar 200ms linear 0ms 1 normal forwards;
          animation: Girar 200ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span.removed svg {
  -webkit-animation: GirarNormal 200ms linear 0ms 1 normal forwards;
          animation: GirarNormal 200ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features {
  margin: 5px 0;
  opacity: 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a {
  display: flex;
  align-items: center;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a span, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a span {
  display: inline-block;
  margin-left: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a span:active, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a span:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a svg:active + span, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a svg:active + span {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.company, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.company {
  opacity: 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.company a, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.company a {
  display: block;
  padding: 15px 5px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login {
  list-style: none;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li {
  color: var(--medium-gray);
  text-align: center;
  padding: 15px;
  margin: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li:last-child {
  border: 2px solid var(--medium-gray);
  border-radius: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li:active {
  color: black;
  border-color: black;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 36vw;
  height: 100vh;
  transform: translateX(-100%);
  opacity: 0;
  top: 0;
  left: -100vw;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg.open {
  -webkit-animation: OpenMenuBg 300ms linear 0ms 1 normal forwards;
          animation: OpenMenuBg 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg.removed {
  -webkit-animation: CloseMenuBg 300ms linear 0ms 1 normal forwards;
          animation: CloseMenuBg 300ms linear 0ms 1 normal forwards;
}
section.page main.content-cover picture {
  width: 100%;
}
section.page main.content-cover picture img {
  width: 100%;
}
section.page main.content-cover div.cover {
  text-align: center;
}
section.page main.content-cover div.cover h2.title {
  color: var(--almost-black);
  font-size: 2.3em;
  font-weight: 900;
  padding: 50px 0 25px;
}
section.page main.content-cover div.cover p.text {
  color: var(--medium-gray);
  line-height: 1.5em;
  padding: 0 15px 25px;
  font-weight: 100;
}
section.page main.content-cover div.cover button.lm {
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 1em;
  font-weight: 500;
  padding: 15px 25px;
  margin-bottom: 50px;
}
section.page main.content-cover div.cover ul.clients {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: var(--medium-gray);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */