@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@-webkit-keyframes OpenMenu {
  0% {
    right: -65vw;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: 0;
  }
}
@keyframes OpenMenu {
  0% {
    right: -65vw;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes CloseMenu {
  0% {
    right: 0;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: -65vw;
  }
}
@keyframes CloseMenu {
  0% {
    right: 0;
  }
  50% {
    right: -35vw;
  }
  100% {
    right: -65vw;
  }
}
@-webkit-keyframes OpenMenuBg {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes OpenMenuBg {
  from {
    left: -100vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes CloseMenuBg {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100vw;
    opacity: 0;
  }
}
@keyframes CloseMenuBg {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100vw;
    opacity: 0;
  }
}
@-webkit-keyframes Girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes Girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes GirarNormal {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes GirarNormal {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  background-color: var(--almost-white);
}

.container {
  padding: 20px;
}

.none {
  display: none;
}

section.page {
  max-width: 100vw;
}
section.page header.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 15px;
}
section.page header.header nav.menu-bar {
  display: none;
}
section.page header.header nav.mobile-bar svg {
  cursor: pointer;
}
section.page header.header nav.mobile-bar div.bg {
  position: absolute;
  background-color: white;
  width: 65vw;
  height: 100vh;
  right: -65vw;
  top: 0;
  z-index: 1;
}
section.page header.header nav.mobile-bar div.bg.open {
  -webkit-animation: OpenMenu 300ms linear 0ms 1 normal forwards;
          animation: OpenMenu 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg.removed {
  -webkit-animation: CloseMenu 300ms linear 0ms 1 normal forwards;
          animation: CloseMenu 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container div {
  text-align: right;
  margin-bottom: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container div svg {
  cursor: pointer;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu {
  list-style: none;
  margin-bottom: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li {
  cursor: pointer;
  color: var(--medium-gray);
  padding: 10px 0;
  -webkit-tap-highlight-color: transparent;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li svg {
  margin-left: 10px;
  transition: rotate 200ms ease;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li a {
  display: block;
  color: var(--medium-gray);
  text-decoration: none;
  padding: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li a:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span {
  display: block;
  color: var(--medium-gray);
  text-decoration: none;
  padding: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span:active > svg path {
  stroke: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span.open svg {
  -webkit-animation: Girar 200ms linear 0ms 1 normal forwards;
          animation: Girar 200ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li span.removed svg {
  -webkit-animation: GirarNormal 200ms linear 0ms 1 normal forwards;
          animation: GirarNormal 200ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features {
  margin: 5px 0;
  opacity: 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a {
  display: flex;
  align-items: center;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a span, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a span {
  display: inline-block;
  margin-left: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a span:active, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a span:active {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.features > a svg:active + span, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.features > a svg:active + span {
  color: black;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.company, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.company {
  opacity: 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:first-child ul.submenu li.company a, section.page header.header nav.mobile-bar div.bg div.container ul.menu > li:nth-child(2) ul.submenu li.company a {
  display: block;
  padding: 15px 5px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login {
  list-style: none;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li {
  color: var(--medium-gray);
  text-align: center;
  padding: 15px;
  margin: 5px 0;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li:last-child {
  border: 2px solid var(--medium-gray);
  border-radius: 15px;
}
section.page header.header nav.mobile-bar div.bg div.container ul.login li:active {
  color: black;
  border-color: black;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 36vw;
  height: 100vh;
  transform: translateX(-100%);
  opacity: 0;
  top: 0;
  left: -100vw;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg.open {
  -webkit-animation: OpenMenuBg 300ms linear 0ms 1 normal forwards;
          animation: OpenMenuBg 300ms linear 0ms 1 normal forwards;
}
section.page header.header nav.mobile-bar div.bg div.transparent-bg.removed {
  -webkit-animation: CloseMenuBg 300ms linear 0ms 1 normal forwards;
          animation: CloseMenuBg 300ms linear 0ms 1 normal forwards;
}
section.page main.content-cover picture {
  width: 100%;
}
section.page main.content-cover picture img {
  width: 100%;
}
section.page main.content-cover div.cover {
  text-align: center;
}
section.page main.content-cover div.cover h2.title {
  color: var(--almost-black);
  font-size: 2.3em;
  font-weight: 900;
  padding: 50px 0 30px;
}
section.page main.content-cover div.cover p.text {
  color: var(--medium-gray);
  line-height: 1.5em;
  padding: 0 15px 30px;
  font-weight: 100;
}
section.page main.content-cover div.cover button.lm {
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: var(--almost-black);
  color: var(--almost-white);
  font-size: 1em;
  font-weight: 500;
  padding: 15px 25px;
  margin-bottom: 50px;
}
section.page main.content-cover div.cover button.lm:active {
  background-color: var(--almost-white);
  color: var(--almost-black);
  outline: 2px solid var(--almost-black);
}
section.page main.content-cover div.cover ul.clients {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
section.page main.content-cover div.cover ul.clients li svg {
  transform: scale(0.75);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.attribution a {
  color: var(--medium-gray);
  text-decoration: none;
}

@media (min-width: 800px) {
  section.page header.header nav.mobile-bar div.bg {
    width: 400px;
  }
  section.page header.header nav.mobile-bar div.bg div.transparent-bg {
    width: 100vw;
  }
  section.page main.content-cover div.img {
    padding: 0 25px;
  }
}
@media (min-width: 900px) {
  body {
    height: 100vh;
    font-size: 14px;
  }
  section.page header.header {
    justify-content: flex-start;
    padding: 25px 35px;
    align-items: center;
  }
  section.page header.header h1.title {
    padding-right: 50px;
  }
  section.page header.header nav.menu-bar {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }
  section.page header.header nav.menu-bar ul.menu {
    display: flex;
    list-style: none;
  }
  section.page header.header nav.menu-bar ul.menu li {
    margin-right: 15px;
  }
  section.page header.header nav.menu-bar ul.menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--medium-gray);
    padding: 15px 20px;
  }
  section.page header.header nav.menu-bar ul.menu li a svg {
    margin-left: 8px;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child, section.page header.header nav.menu-bar ul.menu li:nth-child(2) {
    position: relative;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child ul.submenu, section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0 35px hsla(0deg, 0%, 41%, 0.25);
    background-color: white;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child ul.submenu li, section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu li {
    margin: 5px 0;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child ul.submenu li svg, section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu li svg {
    margin-right: 15px;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child ul.submenu li a, section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu li a {
    display: flex;
    padding: 20px 40px;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child ul.submenu li:hover a, section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu li:hover a {
    color: var(--almost-black);
  }
  section.page header.header nav.menu-bar ul.menu li:nth-child(2) ul.submenu {
    left: 0;
    min-width: 120%;
  }
  section.page header.header nav.menu-bar ul.menu li:first-child:hover ul, section.page header.header nav.menu-bar ul.menu li:nth-child(2):hover ul {
    display: block;
  }
  section.page header.header nav.menu-bar ul.menu > li:hover > a, section.page header.header nav.menu-bar ul.menu > li:hover > path {
    color: var(--almost-black);
    stroke: var(--almost-black);
  }
  section.page header.header nav.menu-bar ul.login {
    display: flex;
    list-style: none;
  }
  section.page header.header nav.menu-bar ul.login li {
    margin-left: 25px;
  }
  section.page header.header nav.menu-bar ul.login li a {
    display: block;
    text-decoration: none;
    color: var(--medium-gray);
    padding: 15px 25px;
  }
  section.page header.header nav.menu-bar ul.login li:last-child a {
    border: 2px solid var(--medium-gray);
    border-radius: 15px;
  }
  section.page header.header nav.menu-bar ul.login li:hover a {
    color: var(--almost-black);
    border-color: var(--almost-black);
  }
  section.page header.header nav.mobile-bar {
    display: none;
  }
  section.page main.content-cover {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px 15px;
  }
  section.page main.content-cover div.img {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  section.page main.content-cover div.img picture {
    width: 80%;
  }
  section.page main.content-cover div.img picture img {
    width: 100%;
  }
  section.page main.content-cover div.cover {
    text-align: left;
    width: 40%;
    padding: 15px 10px;
    position: relative;
  }
  section.page main.content-cover div.cover h2.title {
    font-size: 3.5em;
    padding-bottom: 45px;
  }
  section.page main.content-cover div.cover p.text {
    padding: 0 0 25px;
    padding-right: 50px;
    padding-bottom: 45px;
  }
  section.page main.content-cover div.cover button.lm {
    margin-bottom: 100px;
    cursor: pointer;
  }
  section.page main.content-cover div.cover button.lm:hover {
    outline: 2px solid var(--almost-black);
    color: var(--almost-black);
    background-color: var(--almost-white);
  }
  section.page main.content-cover div.cover ul.clients {
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 25px;
    padding-bottom: 0;
    z-index: -1;
  }
}
@media (min-width: 1000px) {
  body {
    font-size: 15px;
  }
  section.page main.content-cover {
    padding: 25px 15px;
  }
  section.page main.content-cover div.img {
    width: 50%;
  }
  section.page main.content-cover div.cover {
    width: 50%;
  }
  section.page main.content-cover div.cover h2.title {
    font-size: 4em;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  section.page main.content-cover {
    padding: 25px 50px;
  }
  section.page main.content-cover div.cover ul.clients li svg {
    transform: scale(1.2);
  }
}
@media (min-width: 1400px) {
  section.page main.content-cover {
    padding: 25px 100px;
  }
  section.page main.content-cover div.img picture {
    width: 70%;
  }
  section.page main.content-cover div.cover {
    width: 50%;
    padding: 35px 20px;
  }
  section.page main.content-cover div.cover h2.title {
    font-size: 4.5em;
    padding-bottom: 45px;
  }
  section.page main.content-cover div.cover p.text {
    padding-right: 125px;
    padding-bottom: 45px;
  }
  section.page main.content-cover div.cover button.lm {
    margin-bottom: 100px;
  }
}
@media (min-width: 1401px) {
  body {
    font-size: 16px;
  }
  section.page main.content-cover {
    justify-content: space-between;
  }
  section.page main.content-cover div.img {
    width: 800px;
  }
}
@media (min-width: 1870px) {
  body {
    font-size: 22px;
  }
  section.page main.content-cover div.cover p.text {
    padding-top: 50px;
  }
  section.page main.content-cover div.cover button.lm {
    margin-top: 50px;
    padding: 20px 30px;
  }
}
@media (max-width: 350px) {
  section.page main.content-cover div.cover ul.clients {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  section.page main.content-cover div.cover ul.clients li {
    margin: 8px;
  }
  section.page main.content-cover div.cover ul.clients li svg {
    width: 75px;
    transform: scale(0.8);
  }
}/*# sourceMappingURL=style.css.map */