@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
:root {
  /* Primary Colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
  /* Neutral Colors */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --Fraunces: "Fraunces", sans-serif;
  --Barlow: "Barlow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: var(--Fraunces);
}

section.top {
  min-height: 100vh;
  color: white;
  background: url(../images/desktop/image-header.jpg) no-repeat scroll center center;
  background-size: cover;
}
section.top header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
}
section.top header.header h1.page-title {
  font-size: 1.5em;
  font-weight: 900;
}
section.top header.header nav.menu-bar ul.menu {
  display: flex;
  list-style: none;
}
section.top header.header nav.menu-bar ul.menu li a {
  font-family: var(--Barlow);
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  margin-left: 10px;
  font-size: 0.9em;
  font-weight: 400;
  text-align: center;
}
section.top header.header nav.menu-bar ul.menu li:last-child {
  margin-left: 10px;
}
section.top header.header nav.menu-bar ul.menu li:last-child a {
  color: black;
  text-transform: uppercase;
  font-family: var(--Fraunces);
  background-color: white;
  border-radius: 35px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
section.top header.header nav.menu-bar ul.menu li:last-child a:hover {
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
}
section.top header.header nav.menu-bar svg {
  display: none;
}
section.top header.header nav.mobile-menu {
  display: none;
}
section.top div.top-center-itens {
  padding: 150px 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.top div.top-center-itens h2.title {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.2em;
  margin-bottom: 100px;
  font-weight: 900;
}

main.learn-more {
  display: flex;
  width: 100%;
}
main.learn-more article.first-article, main.learn-more article.second-article {
  display: flex;
  width: 100%;
}
main.learn-more article.first-article div.content-cover, main.learn-more article.second-article div.content-cover {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.learn-more article.first-article div.content-cover div.content, main.learn-more article.second-article div.content-cover div.content {
  width: 62%;
}
main.learn-more article.first-article div.content-cover div.content h3.title, main.learn-more article.second-article div.content-cover div.content h3.title {
  font-size: 2.3em;
  font-weight: 900;
  padding-bottom: 35px;
}
main.learn-more article.first-article div.content-cover div.content p.text, main.learn-more article.second-article div.content-cover div.content p.text {
  color: var(--dark-grayish-blue);
  font-family: var(--Barlow);
  font-weight: 600;
  font-size: 1em;
  line-height: 1.7em;
  padding-bottom: 35px;
}
main.learn-more article.first-article div.content-cover div.content a, main.learn-more article.second-article div.content-cover div.content a {
  color: black;
  text-decoration: none;
  display: inline-flex;
  font-size: 0.9em;
  height: 1.2em;
  padding: 0 5px;
  font-weight: 900;
  border-bottom: 5px solid hsla(51deg, 100%, 49%, 0.39);
}
main.learn-more article.first-article div.content-cover div.content a:hover, main.learn-more article.second-article div.content-cover div.content a:hover {
  border-bottom: 7px solid var(--yellow);
}
main.learn-more article.first-article div.content-cover div.content a.lm2, main.learn-more article.second-article div.content-cover div.content a.lm2 {
  border-bottom: 5px solid hsla(7deg, 99%, 70%, 0.39);
}
main.learn-more article.first-article div.content-cover div.content a.lm2:hover, main.learn-more article.second-article div.content-cover div.content a.lm2:hover {
  border-bottom: 7px solid var(--soft-red);
}
main.learn-more article.first-article picture, main.learn-more article.second-article picture {
  width: 50%;
}
main.learn-more article.first-article picture img, main.learn-more article.second-article picture img {
  width: 100%;
  height: 100%;
}

section.information {
  display: flex;
  width: 100%;
}
section.information div.content-cover {
  width: 50%;
  position: relative;
}
section.information div.content-cover img {
  width: 100%;
}
section.information div.content-cover div.content {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  text-align: center;
}
section.information div.content-cover div.content div.center {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.information div.content-cover div.content div.center h4.title {
  font-size: 1.7em;
  font-weight: 900;
  color: hsl(167deg, 38%, 21%);
  padding-bottom: 35px;
}
section.information div.content-cover div.content div.center h4.title.blue {
  color: hsl(199deg, 61%, 21%);
}
section.information div.content-cover div.content div.center p.text {
  color: var(--dark-desaturated-cyan);
  font-family: var(--Barlow);
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1.7em;
}
section.information div.content-cover div.content div.center p.text.blue {
  color: var(--dark-blue);
}

section.client {
  padding: 75px 100px 150px;
  text-align: center;
}
section.client h4.title {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1em;
  padding: 75px 0;
}
section.client div.testimonials {
  display: flex;
  justify-content: center;
}
section.client div.testimonials div.clients-testimonials {
  width: 30%;
  margin: 0 15px;
}
section.client div.testimonials div.clients-testimonials img {
  width: 75px;
  border-radius: 50%;
  margin-bottom: 50px;
}
section.client div.testimonials div.clients-testimonials p.text {
  padding: 10px;
  color: var(--very-dark-grayish-blue);
  font-family: var(--Barlow);
  font-weight: 600;
  font-size: 1em;
  line-height: 1.6em;
}
section.client div.testimonials div.clients-testimonials div {
  display: none;
}
section.client div.names {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
section.client div.names div {
  width: 30%;
  margin: 0 15px;
}
section.client div.names div h5.name {
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: 10px;
}
section.client div.names div span {
  color: var(--grayish-blue);
  font-family: var(--Barlow);
  font-weight: 600;
  font-size: 0.8em;
}

section.gallery {
  display: flex;
}
section.gallery div {
  display: flex;
}
section.gallery div picture {
  width: 50%;
}
section.gallery div picture img {
  width: 100%;
  height: 100%;
}

footer.footer {
  background-color: rgb(142, 233, 215);
  padding: 50px 0;
  text-align: center;
  position: relative;
}
footer.footer h6.title {
  font-size: 1.6em;
  font-weight: 900;
  color: hsl(170deg, 51%, 26%);
  padding-bottom: 35px;
}
footer.footer ul.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}
footer.footer ul.nav li {
  width: 100px;
}
footer.footer ul.nav li a {
  color: var(--dark-moderate-cyan);
  font-family: var(--Barlow);
  font-weight: 600;
  text-decoration: none;
  margin: 0 20px;
  transition: color 150ms ease;
}
footer.footer ul.nav li a:hover {
  color: white;
}
footer.footer ul.social {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer.footer ul.social li {
  margin: 0 15px;
}
footer.footer ul.social li svg path {
  transition: fill 200ms ease;
}
footer.footer ul.social li svg:hover path {
  fill: white;
}
footer.footer .attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  width: 90%;
}
footer.footer .attribution a {
  color: hsl(228deg, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 2000px) {
  body {
    font-size: 28px;
  }
  section.top div.top-center-itens {
    padding: 350px 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.top div.top-center-itens h2.title {
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.2em;
    margin-bottom: 100px;
    font-weight: 900;
  }
  main.learn-more {
    max-width: 100vw;
  }
  main.learn-more div.articles {
    min-width: 100vw;
  }
}
@media (max-width: 1000px) {
  body {
    font-size: 13px;
  }
  section.top {
    font-size: 16px;
  }
  section.top div.top-center-itens {
    font-size: 13px;
  }
  section.client {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 750px) {
  section.top div.top-center-itens {
    padding: 150px 0;
  }
}
@media (max-width: 650px) {
  body {
    font-size: 15px;
  }
  section.top {
    min-height: 65vh;
    background: url(../images/mobile/image-header.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
  }
  section.top header.header nav.menu-bar ul.menu {
    display: none;
  }
  section.top header.header nav.menu-bar svg {
    display: inline-block;
  }
  section.top header.header nav.mobile-menu {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
  }
  section.top header.header nav.mobile-menu ul.menu {
    font-size: 1.5em;
    list-style: none;
    background-color: white;
    margin: 35px;
    padding: 35px;
  }
  section.top header.header nav.mobile-menu ul.menu li a {
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    display: block;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-family: var(--Barlow);
    font-weight: 600;
    padding: 25px;
    width: 250px;
    text-align: center;
    margin: auto;
  }
  section.top header.header nav.mobile-menu ul.menu li:last-child {
    margin: 5px 0 15px;
  }
  section.top header.header nav.mobile-menu ul.menu li:last-child a {
    background-color: var(--yellow);
    color: black;
    font-family: var(--Fraunces);
    text-transform: uppercase;
    border-radius: 50px;
    transition: color 200ms ease;
    transition: background-color 200ms ease;
  }
  section.top header.header nav.mobile-menu ul.menu li:last-child a:hover {
    color: white;
    background-color: rgb(170, 170, 170);
  }
  section.top header.header nav.mobile-menu::before {
    content: "";
    display: block;
    position: absolute;
    right: 35px;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent #ffffff transparent;
  }
  section.top header.header nav.mobile-menu.open {
    display: block;
  }
  section.top div.top-center-itens {
    padding: 100px 0;
  }
  section.top div.top-center-itens h2.title {
    padding: 0;
    text-align: center;
    font-size: 2.3em;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
  }
  main.learn-more {
    display: flex;
    width: 100%;
  }
  main.learn-more article.first-article, main.learn-more article.second-article {
    flex-direction: column-reverse;
  }
  main.learn-more article.first-article div.content-cover, main.learn-more article.second-article div.content-cover {
    width: 100%;
    text-align: center;
    padding: 35px 0;
  }
  main.learn-more article.first-article div.content-cover div.content, main.learn-more article.second-article div.content-cover div.content {
    width: 90%;
  }
  main.learn-more article.first-article picture, main.learn-more article.second-article picture {
    width: 100%;
  }
  main.learn-more article.second-article {
    flex-direction: column;
  }
  section.information {
    flex-direction: column;
  }
  section.information div.content-cover {
    width: 100%;
  }
  section.information div.content-cover picture img {
    width: 100%;
    height: 100%;
  }
  section.information div.content-cover div.content div.center {
    width: 80%;
  }
  section.information div.content-cover:last-child {
    transform: translateY(-4px);
  }
  section.client {
    padding: 20px;
  }
  section.client h4.title {
    padding: 35px 0 50px;
  }
  section.client div.testimonials {
    flex-direction: column;
    align-items: center;
  }
  section.client div.testimonials div.clients-testimonials {
    width: 100%;
  }
  section.client div.testimonials div.clients-testimonials img {
    margin-bottom: 15px;
  }
  section.client div.testimonials div.clients-testimonials p.text {
    padding-bottom: 25px;
  }
  section.client div.testimonials div.clients-testimonials div {
    display: block;
    width: 100%;
    padding-bottom: 50px;
  }
  section.client div.testimonials div.clients-testimonials div h5.name {
    font-size: 1.1em;
    font-weight: 900;
    margin-bottom: 10px;
  }
  section.client div.testimonials div.clients-testimonials div span {
    color: var(--grayish-blue);
    font-family: var(--Barlow);
    font-weight: 600;
    font-size: 0.8em;
  }
  section.client div.names {
    display: none;
  }
  section.gallery {
    flex-direction: column;
  }
  section.gallery div picture {
    width: 100%;
  }
  section.gallery div picture img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  section.top header.header nav.mobile-menu {
    font-size: 0.83em;
  }
  section.top header.header nav.mobile-menu ul.menu {
    padding: 15px;
  }
  section.top header.header nav.mobile-menu ul.menu li a {
    width: 150px;
    padding: 20px;
  }
  section.top header.header nav.mobile-menu ul.menu li:last-child {
    margin-top: 10px;
  }
  section.top header.header nav.mobile-menu ul.menu li:last-child a {
    font-size: 0.85em;
  }
}
@media (max-width: 280px) {
  body {
    font-size: 13px;
  }
  section.top header.header nav.menu-bar ul.menu {
    display: none;
  }
  section.top header.header nav.menu-bar svg {
    display: inline-block;
  }
  section.top header.header nav.mobile-menu {
    font-size: 3vw;
  }
  section.top header.header nav.mobile-menu ul.menu li a {
    width: 80%;
  }
  section.top div.top-center-itens h2.title {
    font-size: 1.8em;
  }
  footer.footer ul.nav li {
    width: 70px;
  }
  footer.footer ul.nav li a {
    text-align: center;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */