@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import "_variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: var(--Fraunces);
}


section.top{
    min-height: 100vh;
    color: white;
    background: url(../images/desktop/image-header.jpg) no-repeat scroll center center;
    background-size: cover;

    header.header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 35px;

        h1.page-title{
            font-size: 1.5em;
            font-weight: 900;
        }

        nav.menu-bar{
            
            ul.menu{
                display: flex;
                list-style: none;

                li{
                    a{
                        font-family: var(--Barlow);
                        display: block;
                        text-decoration: none;
                        color: white;
                        padding: 15px 20px;
                        margin-left: 10px;
                        font-size: 0.9em;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                & li:last-child{
                    margin-left: 10px;
                    a{
                        color: black;
                        text-transform: uppercase;
                        font-family: var(--Fraunces);
                        background-color: white;
                        border-radius: 35px;
                        transition-property: background-color, color;
                        transition-duration: 200ms;
                        transition-timing-function: ease;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.35);
                            color: white;
                        }
                    }

                }
            }

            svg{
                display: none;
            }
        }

        nav.mobile-menu{
            display: none;
        }
    }

    div.top-center-itens{
        padding: 150px 0 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2.title{
            text-transform: uppercase;
            font-size: 3em;
            letter-spacing: 0.2em;
            margin-bottom: 100px;
            font-weight: 900;
        }
    }
}


main.learn-more{
    display: flex;
    width: 100%;

    article.first-article, article.second-article{
        display: flex;
        width: 100%;

        div.content-cover{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div.content{
                width: 62%;

                h3.title{
                    font-size: 2.3em;
                    font-weight: 900;
                    padding-bottom: 35px;
                }

                p.text{
                    color: var(--dark-grayish-blue);
                    font-family: var(--Barlow);
                    font-weight: 600;
                    font-size: 1em;
                    line-height: 1.7em;
                    padding-bottom: 35px;
                }

                a{
                    color: black;
                    text-decoration: none;
                    display: inline-flex;
                    font-size: 0.9em;
                    height: 1.2em;
                    padding: 0 5px;
                    font-weight: 900;
                    border-bottom: 5px solid hsla(51, 100%, 49%, 0.39);

                    &:hover{

                        border-bottom: 7px solid var(--yellow);
                    }
                }

                a.lm2{
                    border-bottom: 5px solid hsla(7, 99%, 70%, 0.39);

                    &:hover{
                        border-bottom: 7px solid var(--soft-red);
                    }
                }

            }
        }

        picture{
            width: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

}

section.information{
    display: flex;
    width: 100%;

    div.content-cover{
        width: 50%;
        position: relative;

        img{
            width: 100%;
        }

        div.content{
            position: absolute;
            height: 50%;
            width: 100%;
            bottom: 0;
            text-align: center;

            div.center{
                position: absolute;
                width: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h4.title{
                    font-size: 1.7em;
                    font-weight: 900;
                    color: hsl(167, 38%, 21%);
                    padding-bottom: 35px;

                    &.blue{
                        color: hsl(199, 61%, 21%);
                    }
                }

                p.text{
                    color: var(--dark-desaturated-cyan);
                    font-family: var(--Barlow);
                    font-weight: 600;
                    font-size: 0.9em;
                    line-height: 1.7em;

                    &.blue{
                        color: var(--dark-blue);
                    }

                }   
            }
        }
    }
}


section.client{
    padding: 75px 100px 150px;
    text-align: center;

    h4.title{
        color: var(--grayish-blue);
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.1em;
        padding: 75px 0;
    }

    div.testimonials{
        display: flex;
        justify-content: center;

        div.clients-testimonials{
            width: 30%;
            margin: 0 15px;

            img{
                width: 75px;
                border-radius: 50%;
                margin-bottom: 50px;
            }

            p.text{
                padding: 10px;
                color: var(--very-dark-grayish-blue);
                font-family: var(--Barlow);
                font-weight: 600;  
                font-size: 1em; 
                line-height: 1.6em;
            }

            div{
                display: none;
            }
        }
    }

    div.names{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        div{
            width: 30%;
            margin: 0 15px;

            h5.name{
                font-size: 1.1em;
                font-weight: 900;
                margin-bottom: 10px;
            }

            span{
                color: var(--grayish-blue);
                font-family: var(--Barlow);
                font-weight: 600;
                font-size: 0.8em;
            }
        }
    }
}

section.gallery{
    display: flex;
    div{
        display: flex;
        picture{
            width: 50%;
    
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}


footer.footer{
    background-color: rgb(142, 233, 215);
    padding: 50px 0;
    text-align: center;
    position: relative;

    h6.title{
        font-size: 1.6em;
        font-weight: 900;
        color: hsl(170, 51%, 26%);
        padding-bottom: 35px;
    }
    ul.nav{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 65px;
        li{
            width: 100px;
            a{
                color: var(--dark-moderate-cyan);
                font-family: var(--Barlow);
                font-weight: 600;
                text-decoration: none;
                margin: 0 20px;
                transition: color 150ms ease;

                &:hover{
                    color: white;
                }
            }
        }
    }

    ul.social{
        list-style: none;
        display: flex;
        justify-content: center;
        li{
            margin: 0 15px;           
            svg{               
                path{
                    transition: fill 200ms ease;
                }
                &:hover path{
                    fill: white;
                }
            }
        }
    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: absolute;
        left: 50%;
        bottom: 5px;
        transform: translateX(-50%);
        width: 90%;
        
        a { 
            color: hsl(228, 45%, 44%); 
            text-decoration: none;
        }
    }
    
}


@media (min-width: 2000px){
    body{
        font-size: 28px;
    }

    section.top{

        div.top-center-itens{
            padding: 350px 0 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            h2.title{
                text-transform: uppercase;
                font-size: 3em;
                letter-spacing: 0.2em;
                margin-bottom: 100px;
                font-weight: 900;
            }
        }
    }
    main.learn-more{
        max-width: 100vw;
        div.articles{
            min-width: 100vw;
        }
    }
}

@media (max-width: 1000px){
    body{
        font-size: 13px;
    }

    section.top{
        font-size: 16px;

        div.top-center-itens{
            font-size: 13px;
        }
    }

    section.client{
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media (max-width: 750px){
    section.top{    
        div.top-center-itens{
            padding: 150px 0;
        }
    }

}

@media (max-width: 650px){
    body{
        font-size: 15px;
    }    

    section.top{
        min-height: 65vh;
        background: url(../images/mobile/image-header.jpg) no-repeat scroll center center;
        background-size: cover;
        position: relative; 
        
        header.header{
            nav.menu-bar{
                ul.menu{
                    display: none;
                }
                svg{
                    display: inline-block;
                }
            }

            nav.mobile-menu{
                position: absolute;
                width: 100%;
                top: 60px;
                left: 0;
                ul.menu{
                    font-size: 1.5em;
                    list-style: none;
                    background-color: white;
                    margin: 35px;
                    padding: 35px;

                    li{
                        a{
                            user-select: none;
                            -webkit-user-select: none;
                            display: block;
                            text-decoration: none;
                            color: var(--dark-grayish-blue);
                            font-family: var(--Barlow);
                            font-weight: 600;
                            padding: 25px;
                            width: 250px;
                            text-align: center;
                            margin: auto;
                        }
                    }

                    li:last-child{
                        margin: 5px 0 15px;
                        a{
                            background-color: var(--yellow);
                            color: black;
                            font-family: var(--Fraunces);
                            text-transform: uppercase;
                            border-radius: 50px;
                            transition: color 200ms ease;
                            transition: background-color 200ms ease;

                            &:hover{
                                color: white;
                                background-color: rgb(170, 170, 170)
                            }
                        }
                    }
                }

                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    right: 35px;
                    top: 15px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 25px 25px;
                    border-color: transparent transparent #ffffff transparent;
                }

                &.open{
                    display: block;
                }
            }

        }

        div.top-center-itens{
            padding: 100px 0;

            h2.title{
                padding: 0;
                text-align: center;
                font-size: 2.3em;
                user-select: none;
                -webkit-user-select: none;
            }
        }
    }

    main.learn-more{
        display: flex;
        width: 100%;
    
        article.first-article, article.second-article{
            flex-direction: column-reverse;
    
            div.content-cover{
                width: 100%;
                text-align: center;
                padding: 35px 0;

                div.content{
                    width: 90%;
                }
            }

            picture{
                width: 100%;
            }
        }

        article.second-article{
            flex-direction: column; 
        }
    }

    section.information{
        flex-direction: column;

        div.content-cover{
            width: 100%;

            picture{
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            div.content{
                div.center{
                    width: 80%;
                }
            }
        }

        div.content-cover:last-child{
            transform: translateY(-4px);
        }
    }

    section.client{
        padding: 20px;

        h4.title{
            padding: 35px 0 50px;
        }
        div.testimonials{
            flex-direction: column;
            align-items: center;
            div.clients-testimonials{
                width: 100%;

                img{
                    margin-bottom: 15px;
                    
                }
    
                p.text{
                    padding-bottom: 25px;
                }
                div{
                    display: block;
                    width: 100%;
                    padding-bottom: 50px;
        
                    h5.name{
                        font-size: 1.1em;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }
        
                    span{
                        color: var(--grayish-blue);
                        font-family: var(--Barlow);
                        font-weight: 600;
                        font-size: 0.8em;
                    }
                }
            }
        }
        div.names{
            display:none;

        }
    }

    section.gallery{
        flex-direction: column;
        div{
            picture{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 450px){
    section.top{   
        header.header{
            nav.mobile-menu{               
                font-size: 0.83em;
                ul.menu{                 
                    padding: 15px;
                    li{
                        a{
                            width: 150px;   
                            padding: 20px;  
                        }
                    }

                    li:last-child{
                        margin-top: 10px;
                        a{
                            font-size: 0.85em;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 280px){
    body{
        font-size: 13px;
    }
    section.top{

        header.header{
                nav.menu-bar{
                    ul.menu{
                        display: none;
                    }
                    svg{
                        display: inline-block;
                    }
                }
    
                nav.mobile-menu{
                    font-size: 3vw;
                    ul.menu{             
                        li{
                            a{
                                width: 80%;
                            }
                        }
                }
            }

        }


        div.top-center-itens{
            h2.title{
                font-size: 1.8em;
            }
        }
    }

    

    footer.footer{
        ul.nav{
            li{
                width: 70px;
                a{
                    text-align: center;
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}