@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'variables';
@import 'animations';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: var(--white);
    transition: background-color 200ms ease;

    &.dark{
        background-color: var(--very-dark-blue-dark-bg);
    }

    &.dark .attribution{
        color: var(--desaturated-blue);
    }

    &.dark .attribution a{
        color: var(--white);
    }

    &.dark div.page header.header div.sep{
        background-color: hsl(228, 18%, 27%);
    }

    &.dark div.page header.header div.toggle span{
        color: var(--desaturated-blue);
    }
}


div.page{
    padding: 0 150px;

    header.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        

        div.background{
            background-color: var(--very-pale-blue);
            position: absolute;
            z-index: -1;
            left: 0;
            width: 100%;
            height: 300px;
            transition: background-color 200ms ease;

            &.dark{
                background-color: var(--very-dark-blue-dark-top-bg);
            }
        }

        div.sep{
            display: none;
        }

        div.dashboard{
            h1.title{
                font-weight: 700;
                font-size: 2em;
                color: var(--very-dark-blue-white-text);
                transition: background-color 200ms ease;

                &.dark{
                    color: var(--white);
                }

                &.dark + span{
                    color: var(--desaturated-blue);
                }
            }

            span{
                color: var(--dark-grayish-blue);
                font-weight: 700;
                font-size: 1em;
                transition: background-color 200ms ease;
            }
        }

        div.toggle{
            display: flex;
            align-items: center;
            span{
                color: var(--dark-grayish-blue);
                font-weight: 700;
                font-size: 1em;
                margin-right: 10px;
                transition: background-color 200ms ease;
            }

            button{
                position: relative;
                width: 50px;
                height: 25px;
                outline: none;
                border: none;
                border-radius: 15px;
                background-color: var(--toggle-light);
                cursor: pointer;
            
                &::after{
                    content: '';
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background-color: var(--very-pale-blue);
                    top: 50%;
                    right: 3px;
                    transform: translate(0, -52%);
                    transition: background 200ms ease;
                }
                
                &:hover{
                    background: rgb(55,143,230);
                    background: var(--toggle-dark);
                }

                &.dark{
                    background: rgb(55,143,230);
                    background: var(--toggle-dark);
                    
                    &::after{
                        background-color: var(--very-dark-blue-white-text);
                        animation: toggleDark 200ms linear 0ms 1 normal forwards;
                    }
                }

                &.white{
                    &::after{
                        animation: toggleWhite 200ms linear 0ms 1 normal forwards;
                    }
                }
            }
        }
    }

    main.content-cover{
        div.social-medias{
            padding-bottom: 25px;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    background-color: var(--light-grayish-blue);
                    width: 23%;
                    text-align: center;
                    border-radius: 10px;
                    transition: background-color 200ms ease;

                    div.color{
                        height: 4px;
                        width: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    header{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 25px 0;

                        span{
                            margin-left: 10px;
                            font-size: 0.9em;
                            color: var(--dark-grayish-blue);
                            font-weight: 700;
                            transition: background-color 200ms ease;
                        }
                    }

                    div.followers{
                        h3.statistic{
                            font-size: 4em;
                            color: var(--very-dark-blue-white-text);
                            transition: background-color 200ms ease;
                        }
                        span{
                            color: var(--dark-grayish-blue);
                            text-transform: uppercase;
                            font-size: 0.9em;
                            letter-spacing: 0.4em;
                            transition: background-color 200ms ease;
                        }
                    }

                    span.today{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 25px;
                        color: var(--lime-green);
                        font-size: 1em;
                        font-weight: 700;

                        svg{
                            margin-right: 5px;
                        }
                    }

                    &:first-child{
                        div.color{
                            background-color: var(--facebook);
                        }
                    }

                    &:nth-child(2){
                        div.color{
                            background-color: var(--twitter);
                        }
                    }

                    &:nth-child(3){
                        div.color{
                            background: rgb(253,196,104);
                            background: var(--instagram);
                        }
                    }

                    &:last-child{
                        div.color{
                            background-color: var(--youTube);
                        }
                        span.today{
                            color: var(--bright-red);
                        }
                    }

                    &:hover{
                        background-color: hsl(226, 39%, 89%);
                        cursor: pointer;
                    }

                    &.dark{
                        background-color: var(--dark-desaturated-blue);
                        transition: background-color 200ms ease;

                        &:hover{
                            background-color: hsl(227, 27%, 27%);
                        }

                        &.dark header span, &.dark div.followers span{
                            color: var(--desaturated-blue)
                        }

                        &.dark div.followers h3{
                            color: var(--white);
                        }
                    }
                }
            }
        }

    }

    section.overview{
        h2.title{
            font-size: 1.7em;
            color: var(--dark-grayish-blue);
            margin: 25px 0;
            transition: background-color 200ms ease;
        }

        div.informations{
            ul.infos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style: none;
                li{
                    background-color: var(--light-grayish-blue);
                    width: 23%;
                    margin-bottom: 25px;
                    border-radius: 10px;
                    padding: 25px;
                    transition: background-color 200ms ease;

                    header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;
                        h4.title{
                            color: var(--dark-grayish-blue);
                            font-weight: 700;
                            transition: color 200ms ease;
                        }
                    }

                    div.info{
                        display: flex;
                        justify-content: space-between;
                        font-size: 2.5em;
                        font-weight: 700;
                        transition: color 200ms ease;

                        span{
                            display: flex;
                            align-items: flex-end;
                            font-size: 0.35em;
                            color: var(--lime-green);

                            svg{
                                margin-right: 5px;
                                transform: translateY(-125%);
                            }
                        }
                    }

                    &:nth-child(2), &:nth-child(7), &:last-child{
                        div.info{
                            span{
                                color: var(--bright-red);
                            }
                        }
                    }

                    &:hover{
                        background-color: hsl(226, 39%, 89%);
                        cursor: pointer;
                    }
                }
            }
        }

        &.dark h2.title, &.dark div.informations ul.infos li div.info{
            color: var(--white);
        }

        &.dark div.informations ul.infos li{
            background-color: var(--dark-desaturated-blue);
        }

        &.dark div.informations ul.infos li header h4.title{
            color: var(--desaturated-blue)
        }

        &.dark div.informations ul.infos li:hover{
            background-color: hsl(227, 27%, 27%);
        }
    }
}

.attribution { 

    font-size: 11px; 
    text-align: center; 
    color: var(--dark-grayish-blue); 
    transition: background-color 200ms ease;

    a { 
        color: var(--very-dark-blue-white-text);
        text-decoration: none;
        transition: background-color 200ms ease;
    }
}
 


@media (min-width: 1750px){
    body{
        font-size: 17px;
    }
}


@media (max-width: 1250px) {
    body{
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    body{
        font-size: 12px;
    }
    div.page{
        padding: 0 75px;
        main.content-cover{
            div.social-medias{
                ul{
                    flex-wrap: wrap;
                    li{
                        width: 48%;
                        &:first-child, &:nth-child(2){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    
        section.overview{
            div.informations{
                ul.infos{
                    li{
                        width: 48%;
                    }
                }
            }
        }
    }
}


@media (max-width: 600px){
    body{
        font-size: 15px;
    }
    div.page{
        padding: 0 25px;
        
        header.header{
            flex-direction: column;

            div.background{
                top: 0;
            }
            div.dashboard{
                width: 100%;
            }
            div.sep{
                display: block;
                width: 100%;
                height: 1px;
                margin: 25px 0 15px;
                background-color: var(--dark-grayish-blue);
                transition: background-color 200ms ease;
            }
            div.toggle{
                width: 100%;
                justify-content: space-between;
            }
        }
        main.content-cover{
            div.social-medias{
                ul{
                    flex-wrap: wrap;
                    li{
                        width: 100%;
                        &:first-child, &:nth-child(2), &:nth-child(3){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    
        section.overview{
            div.informations{
                ul.infos{
                    li{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 410px){
    body{
        font-size: 11px;
    }

    div.page{
        section.overview{
            div.informations{
                ul.infos{
                    li{
                        div.info{
                            span{
                                svg{
                                    transform: translateY(-75%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .attribution{
        font-size: 10px;
    }
}